/* css */
.c1{
    background-color: aqua;
}
.c2{
    background-color: yellow;
}
.c3{
    background-color: pink;
}
.c4{
    background-color: purple;
}
.c5{
    background-color: firebrick;
}
.c6{
    background-color: black;
}